{{ 'section-gallery.css' | asset_url | stylesheet_tag }}
{% style %}
  #gallery--{{ section.id }}{
  padding-top:{{-section.settings.padding_top-}}px !important;
  padding-bottom:{{-section.settings.padding_bottom-}}px !important;
}
{% endstyle %}
<section class="{{ section.settings.width }}" id="gallery--{{ section.id }}">
  <h2>{{ section.settings.heading }}</h2>
    <div class="gallery-image">
        {%- for block in section.blocks -%}
          <div class="gallery">
            {%- case block.type -%}
            {%- when 'gallery' -%}
                {%- # Label: Image -%}
                {%- assign image = block.settings.image -%}
                {{ image | image_url: width: image.width | image_tag: class: 'custom-gallery', loading: 'lazy' }}
            {%- endcase -%}
            </div>
          {%- endfor -%} 
    </div>
</section>
{% schema %}
  {
  "name": "Gallery",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "placeholder": "Heading",
      "info": "Gallery Heading"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Width",
      "default": "wrapper--full",
      "options": [
        {"value": "wrapper--full", "label": "Full width"},
        {"value": "wrapper--full-padded", "label": "Full width padded"},
        {"value": "wrapper", "label": "Normal"}
      ]
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Gallery",
      "type": "gallery",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Gallery"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery"
    }
  ]
}  
{% endschema %}

{% javascript %}
{% endjavascript %}